# URL de conexão com o banco de dados PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/optimanager?schema=public"

# Chave secreta de autenticação do Auth.js
AUTH_SECRET="gerar-chave-com-openssl-rand-base64-32"
